#chat-window {
    height: 20rem;
}

#chat-window-messages {
    height: 18rem;
    overflow: auto;
}

.server-message {
    text-align: right;
    padding-right: 10px; /* Add padding for better appearance */
}